<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>科比01</string>
		<key>imageName</key>
		<string>科比01.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比02</string>
		<key>imageName</key>
		<string>科比02.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比03</string>
		<key>imageName</key>
		<string>科比03.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比04</string>
		<key>imageName</key>
		<string>科比04.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比05</string>
		<key>imageName</key>
		<string>科比05.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比06</string>
		<key>imageName</key>
		<string>科比06.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比07</string>
		<key>imageName</key>
		<string>科比07.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比08</string>
		<key>imageName</key>
		<string>科比08.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比09</string>
		<key>imageName</key>
		<string>科比09.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比10</string>
		<key>imageName</key>
		<string>科比10.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比11</string>
		<key>imageName</key>
		<string>科比11.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比12</string>
		<key>imageName</key>
		<string>科比12.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>科比13</string>
		<key>imageName</key>
		<string>科比13.png</string>
	</dict>
</array>
</plist>
