<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃01</string>
		<key>imageName</key>
		<string>名车荟萃01.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃02</string>
		<key>imageName</key>
		<string>名车荟萃02.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃03</string>
		<key>imageName</key>
		<string>名车荟萃03.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃04</string>
		<key>imageName</key>
		<string>名车荟萃04.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃05</string>
		<key>imageName</key>
		<string>名车荟萃05.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃06</string>
		<key>imageName</key>
		<string>名车荟萃06.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃07</string>
		<key>imageName</key>
		<string>名车荟萃07.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃08</string>
		<key>imageName</key>
		<string>名车荟萃08.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃09</string>
		<key>imageName</key>
		<string>名车荟萃09.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃10</string>
		<key>imageName</key>
		<string>名车荟萃10.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃11</string>
		<key>imageName</key>
		<string>名车荟萃11.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃12</string>
		<key>imageName</key>
		<string>名车荟萃12.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃13</string>
		<key>imageName</key>
		<string>名车荟萃13.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃14</string>
		<key>imageName</key>
		<string>名车荟萃14.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃15</string>
		<key>imageName</key>
		<string>名车荟萃15.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃16</string>
		<key>imageName</key>
		<string>名车荟萃16.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃17</string>
		<key>imageName</key>
		<string>名车荟萃17.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃18</string>
		<key>imageName</key>
		<string>名车荟萃18.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃19</string>
		<key>imageName</key>
		<string>名车荟萃19.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃20</string>
		<key>imageName</key>
		<string>名车荟萃20.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃21</string>
		<key>imageName</key>
		<string>名车荟萃21.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃22</string>
		<key>imageName</key>
		<string>名车荟萃22.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃23</string>
		<key>imageName</key>
		<string>名车荟萃23.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>名车荟萃24</string>
		<key>imageName</key>
		<string>名车荟萃24.png</string>
	</dict>
</array>
</plist>
