<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>乔丹01</string>
		<key>imageName</key>
		<string>乔丹01.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹02</string>
		<key>imageName</key>
		<string>乔丹02.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹03</string>
		<key>imageName</key>
		<string>乔丹03.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹04</string>
		<key>imageName</key>
		<string>乔丹04.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹05</string>
		<key>imageName</key>
		<string>乔丹05.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹06</string>
		<key>imageName</key>
		<string>乔丹06.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹07</string>
		<key>imageName</key>
		<string>乔丹07.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹08</string>
		<key>imageName</key>
		<string>乔丹08.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹09</string>
		<key>imageName</key>
		<string>乔丹09.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹10</string>
		<key>imageName</key>
		<string>乔丹10.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹11</string>
		<key>imageName</key>
		<string>乔丹11.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹12</string>
		<key>imageName</key>
		<string>乔丹12.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹13</string>
		<key>imageName</key>
		<string>乔丹13.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹14</string>
		<key>imageName</key>
		<string>乔丹14.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹15</string>
		<key>imageName</key>
		<string>乔丹15.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹16</string>
		<key>imageName</key>
		<string>乔丹16.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹17</string>
		<key>imageName</key>
		<string>乔丹17.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹18</string>
		<key>imageName</key>
		<string>乔丹18.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹19</string>
		<key>imageName</key>
		<string>乔丹19.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>乔丹20</string>
		<key>imageName</key>
		<string>乔丹.png</string>
	</dict>
</array>
</plist>
